<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="CustomerController as vm" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Tambah/Ubah Customer
        </h1>
        <ol class="breadcrumb">
            <li><a href="#!/customer/list"><i class="fa fa-dashboard"></i> List Customer</a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
        <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Detail Customer</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="exampleInputEmail1">Nama*</label>
                                    <input type="text" class="form-control" id="nama" placeholder="Enter Nama" ng-model="vm.data.name" maxlength="45" required>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Alamat*</label>
                                    <textarea class="form-control" rows="7" id="address" required placeholder="Enter Address ..." ng-model="vm.data.address"></textarea>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="exampleInputEmail1">Hp*</label>
                                    <input type="text" class="form-control" id="phone" required placeholder="Enter No. Hp" ng-model="vm.data.phone" required>
                                </div>
                                <div class="form-group col-sm-6">
                                <label>Kota*</label>
                                <select class="form-control select2" id="city" ng-model="vm.data.city_id" ng-select2 placeholder="Pilih Kota" required>
                                    <option></option>
                                    <option ng-repeat="x in vm.cities | orderBy:name:false" value="{{ (x.id) }}">{{ x.name }}</option>
                                </select>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="exampleInputEmail1">NPWP</label>
                                    <input type="text" class="form-control" id="npwp" placeholder="Enter NPWP" ng-model="vm.data.npwp">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Catatan</label>
                                    <textarea class="form-control" rows="7" id="notes" placeholder="Enter Catatan ..." ng-model="vm.data.notes"></textarea>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="vm.create()">Batal</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->