<!-- Extended -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content content-wrapper" ng-init="vm.init()">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Overview
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Overview</li>
      </ol>
    </section>

<section class="content" ng-show="main.user.isAdmin()" >
<!-- =========================================================== -->
  <div class="row">
      <!-- PO un-archived -->
        <div class="col-sm-2">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ vm.overview.po_unarchived }}</h3>

              <p>PO un-archived</p>
            </div>
            <a href="#!/purchase-order?status=0" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->

        <!-- Purchase Order -->
        <div class="col-sm-2">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ vm.overview.po }}</h3>

              <p>Purchase Order</p>
            </div>
            <a href="#!/purchase-order" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->

        <!-- Nota Kirim Lunas -->
        <div class="col-sm-2">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ vm.overview.invoice_delivery_lunas }}</h3>

              <p>Nota kirim lunas</p>
            </div>
            <a href="#!/nota-kirim" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->

        <!-- Nota kirim -->
        <div class="col-sm-2">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ vm.overview.invoice_delivery }}</h3>

              <p>Nota Kirim</p>
            </div>
            <a href="#!/nota-kirim" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->

      <!-- Nota kirim -->
        <div class="col-sm-2">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>{{ vm.overview.invoice_lunas }}</h3>

              <p>Nota Bahan Lunas</p>
            </div>
            <a href="#!/nota-bahan" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->

        <!-- Nota kirim -->
        <div class="col-sm-2">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>{{ vm.overview.invoice }}</h3>

              <p>Nota bahan</p>
            </div>
            <a href="#!/nota-bahan" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ./col -->

      </div>
      <!-- /.row -->

<!-- =========================================================== -->

<div class="row">
  
<!-- PURCHASE ORDER -->
<div class="col-sm-3">
          <div class="box box-primary custom-height">
            <div class="box-header with-border">
              <h3 class="box-title">Purchase Order <small>unarchived</small></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box custom-scroll">
                <!-- item -->
                <li ng-repeat="x in vm.orderUnarchived" class="item">
                  <div class="product-img">
                    <center><div class="date">{{ x.created | date : 'dd' }}</div></center>
                    <div class="year">{{ x.created | date : 'MMM yy' }}</div>
                  </div>
                  <div class="product-info">
                    <a ui-sref="purchase-order-edit({orderId: x.id})" href="#!/purchase-order/{{ x.id }}" class="product-title">{{ x.ref_no }}<br>
                      <span ng-class="{'label pull-right label-danger': x.profit < 0, 'label pull-right label-success': x.profit >= 0}">{{ x.profit | currency:'Rp ':0 }}</span>
                    </a>
                        <span class="product-description">
                          {{ x.name }}
                        </span>
                  </div>
                </li>
                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a ui-sref="purchase-order" href="#!/purchase-order/" class="uppercase">Lihat Semua PO</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->



<!-- Omset Perbulan -->
<div class="col-sm-3">
          <div class="box box-primary custom-height">
            <div class="box-header with-border">
              <h3 class="box-title">Omset per bulan</h3>
              <div class="pull-right">
                  <select class="form-control form-control-sm" ng-change="vm.getRevenueMonthly()" ng-model="vm.param.year">
                    <option ng-repeat="year in vm.year" value="{{ year }}">{{ year }}</option>
                  </select>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div box-overlay is-loading="vm.loading.get()"></div>
              <ul class="products-list product-list-in-box custom-scroll">
                <li ng-repeat="x in vm.revenueMonthly" class="item">
                  <div class="product-img">
                    <div class="product-title">{{ x.bulan }}</div>
                  </div>
                  <div class="product-info">
                    <span ng-class="{'pull-right text-red': x.total < 0, 'pull-right': x.total >= 0}">{{ x.total | currency:'Rp ':0  }}</span>
                  </div>
                </li>
                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

<!-- Nota Bahan vs Nota kirim -->
      <div class="col-sm-6">
          <div class="box box-primary custom-height">
            <div class="box-header with-border">
              <h3 class="box-title">Nota bahan vs Nota Kirim</h3>
            </div>
            <div class="box-body chart-responsive">
              <div id="areaChart" style="height: 250px;"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          
      </div>
      <!-- /.<col> -->

</div>
<!-- /.row -->

<!-- =========================================================== -->
      <div class="row">
        <!-- Clients -->
        <div class="col-sm-3">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Clients</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div ng-repeat="x in vm.topOrder" class="progress-group">
                <span class="progress-text">{{ x.name }}</span>
                <span class="progress-number"><b>{{ x.archived }}</b>/{{ x.total }}</span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-aqua" style="width: {{ (x.archived/x.total)*100 }}%"></div>
                </div>
              </div>
              <!-- /.progress-group -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      <!-- /.col -->

    <!-- Laporan sablon -->
        <div class="col-sm-3 hidden">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Laporan sablon</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      </div>
    <!-- /.col -->

    <!-- Laporan potong -->
    <div class="col-sm-6 hidden">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Laporan Potong</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      </div>
    <!-- /.col -->

</div>
<!-- /.row -->
<!-- =========================================================== -->
</section>
  </div>