<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Demo Demo
            <small>DEMO</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#!/demo"><i class="fa fa-dashboard"></i> Demo</a></li>
            <li class="active">Demo</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Detail {{ vm.role }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" name="myForm" ng-submit="myForm.$valid && vm.testUploadFiles()">
                        <div class="box-body">
                            <div class="row">
                                <input type="hidden" id="id" ng-model="vm.data.id">
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Foto*</label>
                                    <div class="input-group">
                                        <input type="file" class="form-control" ng-model="vm.files" ng-file multiple>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-default" ng-click="vm.create()" >Batal</button>
                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="box box-primary">
                    <div box-overlay is-loading="vm.ls.get('loading-history').get()"></div>
                    <div class="box-header with-border">
                        <h3 class="box-title">History Harga</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.historyPaging(page)"></paging>
                            </div>
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Tanggal</th>
                                            <th>Harga / Satuan</th>
                                        </tr>
                                        <tr ng-repeat="x in vm.history">
                                            <td>{{ x.created }}</td>
                                            <td>{{ x.price}}</td>
                                        </tr>
                                    </table>
                                </div>
                            <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.historyPaging(page)"></paging>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->