<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                List Jabatan
            </h1>
            <ol class="breadcrumb">
                <li class="active">List Jabatan</li>
            </ol>
        </section>
    
        <!-- Main content -->
        <section class="content container-fluid">
    
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">                  
                                    <tr>
                                        <th ng-click="vm.sortBy('name')">No</th>
                                        <th ng-click="vm.sortBy('name')">Name</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.list">
                                            <td>{{ $index + 1 }}</td>
                                        <td>{{ x.name }}</td>
                                        <td class="text-center">
                                            <div >
                                                <a class="btn btn-warning" ui-sref="jabatan-setpermission({user_id: x.id})" ><i class="fa fa-key"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ng-show="vm.prop == 2"><input ng-model="x.name"></td>
                                        <td class="text-center" ng-show="vm.prop == 2">
                                            <!-- Cancel and save button -->
                                            <div>
                                                <button type="button" class="btn btn-warning" title="Ubah Data" ng-click="vm.submit(x)">Simpan</button>
                                                <button class="btn btn-danger" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.init()">Cancel</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->