<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Detail Job Opname
        <span class="text-bold text-yellow">{{ vm.data.status.label }}</span>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="job-opname"><i class="fa fa-dashboard"></i> List Job Opname</a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box">
            <!-- general form elements -->
            <!-- form start -->
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <form role="form" id="formJobOpname" name="formJobOpname" ng-submit="formJobOpname.$valid && vm.submit()">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-right">
                                <button type="button" ng-if="vm.data.id" class="btn btn-primary" ng-click="vm.download(vm.data.id)"><i class="fa fa-print"></i> Print</button>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Project</label> <a ng-if="vm.data.project_id != ''" ui-sref="project-detail({id : vm.data.project_id})" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                            <select required class="form-control select2" ng-model="vm.data.project_id" ng-change="vm.getStocks(vm.data.project_id)" ng-select2 placeholder="Pilih Project">
                                <option></option>
                                <option ng-repeat="x in vm.projects" value="{{ (x.id) }}">{{ x.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Vendor/Mandor*</label>
                            <select required class="form-control select2" ng-model="vm.data.user_id" ng-select2 placeholder="Pilih Vendor/Mandor" ng-disabled="vm.data.project_id == null" ng-change="vm.getStocks(vm.data.project_id, vm.data.user_id)">
                                <option></option>
                                <option ng-repeat="x in vm.users" value="{{ (x.id) }}">{{ x.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>No. Ref*</label>
                            <input type="text" class="form-control" id="ref_no" placeholder="Enter Ref. No" ng-model="vm.data.ref_no">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Tanggal*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker pull-right" ng-datetime-picker id="tanggal" ng-model="vm.data.created" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-6" ng-if="vm.data.id && main.ac.hasAccess('opname_job_change_status')">
                            <label for="exampleInputEmail1">Status </label>
                            <br>
                            <button type="button" class="btn btn-success" ng-confirm-click="Invoice akan disetujui. Apakah anda yakin?" confirmed-click="vm.setApproved(vm.data.id)" ng-disabled="vm.data.status.name == 'approve'">Terima</button>
                            <button type="button" class="btn btn-default" ng-confirm-click="Invoice akan diubah menjadi draft. Apakah anda yakin?" confirmed-click="vm.setStatus(vm.data.id, 'draft')" ng-disabled="vm.data.status.name == 'draft'" >Draft</button>
                            <button type="button" class="btn btn-warning" ng-confirm-click="Invoice akan diajukan. Apakah anda yakin?" confirmed-click="vm.setStatus(vm.data.id, 'pending')" ng-disabled="vm.data.status.name == 'pending'" >Diajukan</button>
                            <button type="button" class="btn btn-danger"  ng-confirm-click="Invoice akan ditolak. Apakah anda yakin?" confirmed-click="vm.setDeclined(vm.data.id)" ng-disabled="vm.data.status.name == 'decline'">Tolak</button>
                        </div>
                    </div>
                    <div class="row" ng-repeat="group in vm.groups | orderBy:'name':false">
                        <label class="page-header col-sm-12" style="h4">{{ group.name }}</label>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th colspan="6"><center>Volume</center></th>
                                        <th colspan="4"><center>Harga(Rp)</center></th>
                                    </tr>
                                    <tr>
                                        <th style="width: 10px">No</th>
                                        <th>Pekerjaan</th>
                                        <th>Target</th>
                                        <th>Realisasi</th>
                                        <th>Progress(Saat Ini)</th>
                                        <th>Kurang</th>
                                        <th>Target</th>
                                        <th>Realisasi</th>
                                        <th>Progress(Saat Ini)</th>
                                        <th>Kurang</th>
                                    </tr>
                                    <tr ng-repeat="x in group.detail | orderBy:vm.propertyName:vm.reverse">
                                        <td>{{ $index+1 }}</td>
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.target }}{{ x.unit }}</td>
                                        <td>
                                            {{ x.real }} {{ x.unit }}
                                        </td>
                                        <td>
                                            <input type="number" step="0.01" ng-model="x.progress" class="form-control" name="progress" id="progress" ng-change="x.difference = x.target - x.progress; vm.countTotal()">
                                        </td>
                                        <td>
                                            <input type="number" step="0.01" ng-model="x.difference" name="difference" id="difference" class="form-control" ng-change="x.progress = x.target - x.difference; vm.countTotal()">
                                        </td>
                                        <td>{{ x.price | number }}</td>
                                        <td>{{ x.real * x.price | number }}</td>
                                        <td>
                                            {{ x.progress * x.price | number }}
                                        </td>
                                        <td>
                                            {{ x.difference * x.price | number }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                   <table class="table table-bordered">
                      <tr>
                        <td align="right"><b>Total</b></td>
                        <td width="200px" align="right"><b>{{ vm.priceDetail.total | currency:"Rp. ":2 }}</b></td>
                      </tr>
                      <tr>
                        <td align="right"><b>Retensi 10%</b></td>
                        <td align="right"><b>{{ vm.priceDetail.retensi | currency:"Rp. ":2 }}</b></td>
                      </tr>
                      <tr>
                        <td align="right"><b>Dibayarkan</b></td>
                        <td align="right"><b>{{ vm.priceDetail.paid | currency:"Rp. ":2 }}</b></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="col-md-2" ng-repeat="x in vm.data.images">
                    <a href="{{ x.image }}" target="_blank"><img ng-src="{{ x.thumb_image }}" class="img-responsive"></a>
                    <div style="margin-top: 2px"><button type="button" class="btn btn-danger pull-right" ng-click="vm.deleteImage(x)"><i class="fa fa-trash"></i></button></div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group col-sm-4">
                        <label for="photo">Upload Foto*</label>
                        <div class="input-group">
                            <input type="file" class="form-control" ng-model="vm.images" ng-file multiple>
                        </div>
                    </div>
                </div>
                        <div class="col-sm-12">
                        <button type="button" ng-if="vm.data.is_invoice_created == 0 && main.ac.hasAccess('opname_job_change_status')" class="btn btn-primary" ng-click="vm.createInvoice()" ng-disabled="vm.data.status.name != 'approve'">Buat Invoice</button>

                        <button type="button" ng-if="vm.data.is_invoice_created == 1" class="btn btn-primary" ng-click="vm.detailInvoice()" ng-disabled="vm.data.status.name != 'approve'">Lihat Invoice</button>
                        <!-- <button ng-if="vm.isDraft() || vm.isDecline()" type="button" ng-scroll-to="#jobs" ng-click="vm.newJob();" class="btn btn-primary">Tambah</button> -->
                        <div class="pull-right">
                            <div ng-if="main.ac.hasAccess('opname_job_create')">
                                <button ng-if="vm.isDraft() || vm.isDecline()" type="button" class="btn btn-default" ng-click="vm.create()" >Batal</button>
                                <button ng-if="vm.isDraft() || vm.isCreate() || vm.isDecline()" type="submit" form="formJobOpname" class="btn btn-primary">Simpan Sebagai Draft</button>
                                <button ng-if="vm.isDraft() || vm.isCreate() || vm.isDecline()" type="submit" form="formJobOpname" class="btn btn-primary" ng-click="vm.sendToManager = 1">Simpan & Ajukan</button>
                            </div>

                            <div ng-if="vm.isPending() && !vm.isCreate() && main.ac.hasAccess('opname_job_change_status')">
                                <button type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setApproved(vm.data.id)">Terima</button>
                                <button type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setDeclined(vm.data.id)">Tolak</button>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </form>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper