<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tambah/Detail Pekerjaan
            <span class="text-bold text-yellow">{{ vm.data.status.label }}</span>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="jobs"><i class="fa fa-dashboard"></i> List Pekerjaan</a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- general form elements -->
        <div class="box">
          <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <div class="box-header with-border">
                <h3 class="box-title">Detail Pekerjaan</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" id="formExpense" name="formExpense" ng-submit="formExpense.$valid && vm.submit()">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                          <label for="exampleInputEmail1">No Ref*</label>
                          <input type="text" class="form-control" id="ref_no" placeholder="Enter No Ref" ng-model="vm.data.ref_no" required>
                        </div>
                        <div class="form-group col-sm-12">
                          <label for="exampleInputEmail1">Nama Pekerjaan*</label>
                          <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="vm.data.name" required>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">Nama Satuan*</label>
                            <select required class="form-control select2" ng-model="vm.data.unit" ng-select2 placeholder="Pilih Satuan">
                                <option></option>
                                <option ng-repeat="x in vm.units" value="{{ (x.name) }}">{{ x.label }}</option>
                            </select>
                        </div>
                        <label class="col-sm-12" style="font-size: 20px">List Bahan/Vendor/Mandor</label>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th ng-click="vm.sortByAngular('name')">Nama <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('name')"></i></div></th>
                                        <th ng-click="vm.sortByAngular('item_category_name')">Jenis <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('item_category_name')"></i></div></th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Harga</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.data.detail | orderBy:vm.propertyName:vm.reverse">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.item_category_name }}</td>
                                        <td>{{ x.qty }}</td>
                                        <td>{{ x.unit }}</td>
                                        <td>{{ x.price | currency:"Rp. ":0}}</td>
                                        <td>{{ x.qty * x.price | currency:"Rp. ":0}}</td>
                                        <td>
                                          <center>
                                              <button type="button" class="btn btn-warning" ng-scroll-to="#jobs" ng-click="vm.editJob(x)"><i class="fa fa-pencil"></i></button>
                                              <button type="button" class="btn btn-danger" ng-click="vm.deleteJob(x)"><i class="fa fa-trash"></i></button>
                                          </center>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td colspan="5" class="text-right text-bold">Total</td>
                                      <td><b>{{ vm.total | currency:"Rp. ":0 }}</b></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
<!--                         <hr class="col-sm-12">
                        <label class="col-sm-12" style="font-size: 20px">List Tenaga</label>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Nama</th>
                                        <th>Mandor / Vendor</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Harga</th>
                                        <th ng-if="vm.isDraft() || vm.isDecline()">Action</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.data.detail">
                                        <td>{{ $index+1 }}</td>
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.qty }}</td>
                                        <td>{{ x.unit }}</td>
                                        <td ng-if="vm.isDraft() || vm.isDecline()">
                                            <center>
                                                <button type="button" class="btn btn-warning" ng-scroll-to="#item" ng-click="vm.editItem(x)"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-danger" ng-click="vm.deleteItem(x)"><i class="fa fa-trash"></i></button>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div> -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
              <div class="box-footer">
                <div class="pull-left">
                  <button type="button" class="btn btn-primary" ng-scroll-to="#jobs">Tambah Pekerjaan</button>
                </div>
                <div class="pull-right">
                  <button type="button" class="btn btn-default" ng-click="vm.create()">Batal</button>
                  <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
              </div>
            </form>
        </div>
        <!-- /.box -->
    <div class="box box-primary" id="jobs">
      <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
      <form role="form" name="myFormJobs" ng-submit="vm.addJob()">
            <div class="box-header with-border">
              <h3 class="box-title">Tambah/Edit Pekerjaan</h3>
            </div>
            <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <input type="hidden" id="id" ng-model="vm.data.id">
            <div class="form-group col-sm-12">
              <label for="exampleInputEmail1">Jenis</label>
              <div class="row">
                <div class="col-sm-1">
              <div class="radio">
                <label>
                  <input type="radio" name="bahan" id="bahan" ng-model="vm.item_category" ng-click="vm.loadItems('item')" value="item">
                      Bahan
                </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="radio">
                <label>
                  <input type="radio" name="bahan" id="bahan" ng-model="vm.item_category" ng-click="vm.loadItems('vendor')" value="vendor">
                      Vendor
                </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="radio">
                <label>
                  <input type="radio" name="bahan" id="bahan" ng-model="vm.item_category" ng-click="vm.loadItems('mandor')" value="mandor">
                      Mandor
                </label>
              </div>
            </div>
              </div>
            </div>

            <div class="form-group col-sm-4">
            <label>Nama*</label> <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('loading-item').get()"></i>
            <select class="form-control select2" ng-model="vm.tempJob.item_id_detail" ng-change="vm.setItem(vm.tempJob.item_id_detail)" ng-select2>
                <option ng-repeat="x in vm.items" value="{{ (x.id) }}">{{ x.name }}</option>
            </select>
            </div>

            <div class="form-group col-sm-4">
              <label for="exampleInputEmail1">Qty*</label>
              <input type="text" class="form-control" id="group" placeholder="Qty" ng-model="vm.tempJob.qty" required>
            </div>

            <div class="form-group col-sm-4">
              <label for="exampleInputEmail1">Harga*</label>
              <div class="input-group">
                <span class="input-group-addon">Rp.</span>
                <input type="text" class="form-control" placeholder="Harga Satuan" ng-model="vm.tempJob.price" disabled>
                <span class="input-group-addon">{{ vm.tempJob.unit }}</span>
              </div>
            </div>

            <div class="form-group col-sm-12">
              <span class="pull-right">Harga : <b>{{ vm.tempJob.price | currency:"Rp. ":0 }}<span ng-if="vm.tempJob.unit != null">/</span>{{ vm.tempJob.unit }}</b></span>
            </div>

            <div class="form-group col-sm-12">
              <span class="pull-right">Qty : <b>{{ vm.tempJob.qty }} {{ vm.tempJob.unit }}</b></span>
            </div>

            <div class="form-group col-sm-12">
              <span class="pull-right">Total : <b>{{ vm.tempJob.qty * vm.tempJob.price | currency:"Rp. ":0 }}</b></span>
            </div>

            <div class="col-sm-12">
            <div class="pull-right">
              <button type="button" class="btn btn-default" ng-click="vm.newJob()">Batal</button>
              <button type="submit" class="btn btn-primary">Tambah</button>
            </div>
            </div>

              </div>
              <!-- /.row -->
              </div>
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->