<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            List Pekerjaan
            <a ng-if="main.ac.hasAccess('job_create')" ui-sref="jobs-create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> List Pekerjaan</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Pencarian</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form" class="form" ng-submit="vm.doSearch()">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Kata Kunci</label>
                                <input type="text" class="form-control" id="keyword" placeholder="Enter Kata Kunci" ng-model="vm.search.keyword">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                <button type="submit" class="btn btn-primary">Cari</button> 
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box box-primary">
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    <div class="box-body">
                        <div ng-if="vm.listPending == false">
                            <button type="button" class="btn btn-primary" ng-click="vm.search.status = ''; vm.doSearch()">Semua</button>
                            <button type="button" class="btn btn-default" ng-click="vm.search.status = 'draft'; vm.doSearch()">Draft</button>
                            <button type="button" class="btn btn-success" ng-click="vm.search.status = 'approve'; vm.doSearch()">Terima</button>
                            <button type="button" class="btn btn-danger" ng-click="vm.search.status = 'decline'; vm.doSearch()">Tolak</button>            
                        </div>
                        <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>No. Ref</th>
                                    <th>Nama Pekerjaan</th>
                                    <th>Unit</th>
                                    <th>Total</th>
                                    <th ng-if="main.ac.hasAccesses(['job_detail', 'job_delete'])">Action</th>
                                </tr>
                                <tr ng-repeat="x in vm.list">
                                    <td>{{ x.ref_no }}</td>
                                    <td>{{ x.name }}</td>
                                    <td>{{ x.unit }}</td>
                                    <td>{{ x.total | currency:"Rp. ":0 }}</td>
                                    <td class="text-center" ng-if="main.ac.hasAccesses(['job_detail', 'job_delete'])">
                                        <a ng-if="main.ac.hasAccess('job_detail')" ui-sref="jobs-detail({id: x.id})" class="btn btn-warning">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <button ng-if="main.ac.hasAccess('job_delete')" type="button" class="btn btn-danger" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.delete(x.id)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->