  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-controller="QuotationScheduleController as vm" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Penjadwalan
        <span class="text-bold text-yellow">{{ vm.data.schedule_status_id.label }}</span>
      </h1>
      <ol class="breadcrumb">
        <li><a ui-sref="project-detail({id: vm.data.project.id})"><i class="fa fa-dashboard"></i> Project</a></li>
        <li class="active">Penjadwalan</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Penjadwalan</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" id="formSchedule" name="formSchedule" ng-submit="formSchedule.$valid && vm.submit()">
              <div class="box-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="pull-right">
                      <button type="button" class="btn btn-primary" ng-class="{'disabled': vm.ls.get('print').get()}" ng-click="vm.download(vm.data.id)"><i class="fa fa-print"></i> Print <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('print').get()"></i></button>
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <div class="row">
                      <label for="exampleInputEmail1" class="col-sm-2">No Ref HPP 1</label>
                      <span class="col-sm-10">: <a ui-sref="quotation-detail({id: vm.data.id})">{{ vm.data.ref_no }}</a></span>
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <div class="row">
                      <label for="exampleInputEmail1" class="col-sm-2">Project</label>
                      <span class="col-sm-10">: <a ui-sref="project-detail({id: vm.data.project.id})">{{ vm.data.project.name }}</a></span>
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <div class="row">
                      <label for="exampleInputEmail1" class="col-sm-2">Pekerjaan</label>
                      <span class="col-sm-10">: {{ vm.data.name }}</span>
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <div class="row">
                      <label for="exampleInputEmail1" class="col-sm-2">Customer</label>
                      <span class="col-sm-10">: <a ui-sref="customer-detail({id: vm.data.customer.id})">{{ vm.data.customer.name }}</a></span>
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <div class="row">
                      <label for="exampleInputEmail1" class="col-sm-2">Kota</label>
                      <span class="col-sm-10">: {{ vm.data.city.name }}, {{ vm.data.city.province.name }}</span>
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <div class="row">
                      <label for="exampleInputEmail1" class="col-sm-2">Lokasi</label>
                      <span class="col-sm-10">: {{ vm.data.address }}</span>
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <div class="row">
                      <label for="exampleInputEmail1" class="col-sm-2">Tanggal</label>
                      <span class="col-sm-10">: {{ vm.data.created }}</span>
                    </div>
                  </div>
                  <div class="form-group col-sm-6" ng-if="vm.data.schedule_status_id.id && main.ac.hasAccess('quotation_schedule_change_status')">
                    <label for="exampleInputEmail1">Status</label>
                    <br>
                    <button type="button" class="btn btn-success" ng-confirm-click="Apakah anda ingin merubah status jadwal ini menjadi Approve ?" confirmed-click="vm.setApproved(vm.data.id)" ng-disabled="vm.data.schedule_status_id.name == 'approve'">Terima</button>
                    <button type="button" class="btn btn-default" ng-confirm-click="Apakah anda ingin merubah status jadwal ini menjadi Draft ?" confirmed-click="vm.setDraft(vm.data.id)" ng-disabled="vm.data.schedule_status_id.name == 'draft'" >Draft</button>
                    <button type="button" class="btn btn-warning" ng-confirm-click="Apakah anda ingin merubah status jadwal ini menjadi Diajukan ?" confirmed-click="vm.setPending(vm.data.id)" ng-disabled="vm.data.schedule_status_id.name == 'pending'" >Diajukan</button>
                    <button type="button" class="btn btn-danger"  ng-confirm-click="Apakah anda ingin merubah status jadwal ini menjadi Ditolak ? ?" confirmed-click="vm.setDeclined(vm.data.id)" ng-disabled="vm.data.schedule_status_id.name == 'revision'">Tolak</button>
                  </div>
                </div>
              <!-- /.row -->
              <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Pekerjaan</th>
                  <th>Tanggal Mulai</th>
                  <th>Tanggal Selesai</th>
                  <th>Durasi(hari)</th>
                </tr>
                <tr ng-repeat="x in vm.data.detail">
                  <td>{{ $index + 1 }}</td>
                  <td>{{ x.name }}</td>
                  <td>
                    <div class="input-group date">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control" id="dateStart" ng-datetime-picker placeholder="Tanggal Mulai" ng-model="x.schedule_start" autocomplete="off">
                    </div>
                  </td>
                  <td>
                    <div class="input-group date">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control" id="dateFinish" ng-datetime-picker placeholder="Tanggal Selesai" ng-model="x.schedule_finish" ng-change="vm.changeFinish(x.schedule_start, x.schedule_finish, $index)" autocomplete="off">
                    </div>
                    </td>
                  <td>
                    <input type="text" class="form-control" id="duration" placeholder="Durasi" ng-model="x.duration" ng-change="vm.changeDuration(x.schedule_start, x.duration, $index)" autocomplete="off"></td>
                </tr>
              </table>
            </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="pull-left">
                  <a href="quotation/gantt-chart/{{ vm.data.id }}" class="btn btn-primary" target="_blank">Lihat Grafik</a>
                </div>
                <div class="pull-right">
                    <span ng-if="main.ac.hasAccess('quotation_schedule_create')">
                        <button ng-if="vm.isDraft() || vm.isDecline() || vm.isCreate()" type="button" class="btn btn-default" ng-click="vm.create()" >Batal</button>
                        <button ng-if="vm.isDraft() || vm.isCreate() || vm.isDecline()" type="submit" form="formSchedule" class="btn btn-primary">Simpan Sebagai Draft</button>
                        <button ng-if="vm.isDraft() || vm.isCreate() || vm.isDecline()" type="submit" form="formSchedule" class="btn btn-primary" ng-click="vm.sendToManager = 1">Simpan & Ajukan</button>
                    </span>

                    <span ng-if="main.ac.hasAccess('quotation_schedule_change_status')">
                        <button ng-if="vm.isPending() && !vm.isCreate()" type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setApproved(vm.data.id)">Terima</button>
                        <button ng-if="vm.isPending() && !vm.isCreate()" type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setDeclined(vm.data.id)">Tolak</button>
                    </span>
                </div>
                <!-- <div class="pull-right">
                  <button type="button" class="btn btn-default" ng-click="vm.create()">Batal</button>
                  <button type="submit" class="btn btn-primary">Simpan</button>
                </div> -->
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->