<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"
     ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            List Purchase Order
        </h1>
        <ol class="breadcrumb">
            <li class="active">List PO</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Pencarian</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form"
                              class="form"
                              ng-submit="vm.doSearch()">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Kata Kunci</label>
                                <input type="text"
                                       class="form-control"
                                       id="keyword"
                                       placeholder="Enter Kata Kunci"
                                       ng-model="vm.search.keyword">
                            </div>
                            <div class="form-group">
                                <label>Project</label>
                                <select class="form-control"
                                        id="status"
                                        ng-model="vm.search.project_id"
                                        placeholder="Pilih Project"
                                        ng-select2>
                                    <option value="">Semua</option>
                                    <option ng-repeat="x in vm.projects | orderBy:'name':false"
                                            value="{{ x.id }}">{{ x.name }}</option>
                                </select>
                            </div>
                            <div class="pull-right">
                                <button type="button"
                                        class="btn btn-default"
                                        ng-click="vm.search.keyword = ''; vm.search.project_id = ''; vm.doSearch()">Clear</button>
                                <button type="submit"
                                        class="btn btn-primary">Cari</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div>
                                    <button type="button"
                                            class="btn btn-primary"
                                            ng-click="vm.search.status = ''; vm.doSearch()">Semua</button>
                                    <button type="button"
                                            class="btn btn-default"
                                            ng-click="vm.search.status = 'draft'; vm.doSearch()">Draft</button>
                                    <button type="button"
                                            class="btn btn-success"
                                            ng-click="vm.search.status = 'approve'; vm.doSearch()">Terima</button>
                                    <button type="button"
                                            class="btn btn-danger"
                                            ng-click="vm.search.status = 'decline'; vm.doSearch()">Tolak</button>
                                </div>
                                <paging current-page="vm.paginator.current_page"
                                        last-page="vm.paginator.last_page"
                                        show-page="vm.showPage(page)"></paging>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th ng-click="vm.sortBy('ref_no')">No. Ref <sortable order="vm.getOrderBy('ref_no')"></sortable>
                                            </th>
                                            <th ng-click="vm.sortBy('project')">Proyek <sortable order="vm.getOrderBy('project')"></sortable>
                                            </th>
                                            <th>Tanggal</th>
                                            <th>Total</th>
                                            <th ng-if="main.ac.hasAccesses(['po_detail', 'po_delete'])">Action</th>
                                        </tr>
                                        <tr ng-repeat="x in vm.list">
                                            <td>{{ x.ref_no }}</td>
                                            <td><a ui-sref="project-detail({id: x.project.id})">{{ x.project.name }}</a></td>
                                            <td>{{ x.created }}</td>
                                            <td>{{ x.total | currency:"Rp. ":0 }}</td>
                                            <td class="text-center" ng-if="main.ac.hasAccesses(['po_detail', 'po_delete'])">
                                                <a ui-sref="po-detail({id: x.id})">
                                                    <button ng-if="main.ac.hasAccess('po_detail')" type="button"
                                                            class="btn btn-warning"
                                                            title="Ubah Data">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                </a>
                                                <button ng-if="main.ac.hasAccess('po_delete')" class="btn btn-danger"
                                                        ng-confirm-click="Semua LPB yang berhubungan dengan PO ini akan terhapus juga. Apakah anda yakin?"
                                                        confirmed-click="vm.delete(x.id)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <paging current-page="vm.paginator.current_page"
                                last-page="vm.paginator.last_page"
                                show-page="vm.showPage(page)"></paging>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->