  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Page Header
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <div class="box-header with-border">
              <h3 class="box-title"><b>Detail Project</b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
              <div class="box-body">
                <div class="row">
                  <input type="hidden" class="form-control" id="id" ng-model="vm.project.id">
                <div class="form-group col-sm-12">
                <div class="text-right">
                  <button type="button" class="btn btn-default" ng-class="{'disabled': vm.ls.get('print').get()}" ng-click="vm.download(vm.summary.id)"><i class="fa fa-print"></i> Print <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('print').get()"></i></button>
                </div>
              </div>  
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">Nama Project</label></div>
                    <div class="col-sm-10"><span for="exampleInputEmail1">{{ vm.project.name }}</span></div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">No. Project</label></div>
                    <div class="col-sm-10"><span for="exampleInputEmail1">{{ vm.project.ref_no }}</span></div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">Customer</label></div>
                    <div class="col-sm-10"><span for="exampleInputEmail1">{{ vm.project.users.name }}</span></div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">Kota</label></div>
                    <div class="col-sm-10"><span>{{ vm.project.city_name }}, {{ vm.project.province_name }}</span></div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">Alamat</label></div>
                    <div class="col-sm-10"><span for="exampleInputEmail1">{{ vm.project.address }}</span></div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">Durasi</label></div>
                    <div class="col-sm-10"><span for="exampleInputEmail1">{{ vm.project.start }} - {{ vm.project.finish }}</span></div>
                  </div>
                </div>
                <label class="page-header col-sm-12" style="font-size: 18px">Detail HPP</label>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">No. Ref</label></div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="noPenawaranHpp2" placeholder="Enter No Ref" ng-model="vm.summary.ref_no">
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                <div class="row">
                <label class="col-sm-2">List Revisi</label>
                <div class="col-sm-10">
                  <div class="row">
                  <div ng-repeat="rev in vm.summary.revisions">
                    <a ng-if="vm.summary.id != rev.id" ui-sref="price-plan-detail({id: rev.id})">
                      <span class="col-sm-12">{{ rev.name }}</span>
                    </a>
                    <span ng-if="vm.summary.id == rev.id" class="col-sm-12">{{ rev.name }}</span>
                  </div>
                  </div>
                  </div>
                </div>
                </div>
                </div>
              </div>
            </form>
          </div>

          <div class="box">
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <div class="box-body">
                <!-- Group Start -->
            <div class="row" ng-repeat="x in vm.summary.detail">
            <label class="page-header col-sm-12" style="h4">{{x.group_name}}</label>
            <div class="col-sm-12"><div class="pull-right"><span>Penawaran: <label>{{ x.total_quotation }}</label>, HPP 2: <label>{{ x.total_group }}</label>, Selisih: <label>{{ x.total_quotation - x.total_group }}</label></span></div></div>
            <div class="col-sm-12">
              <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">#</th>
                  <th ng-click="vm.sortByAngular('name')">Pekerjaan <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('name')"></i></div></th>
                  <th ng-click="vm.sortByAngular('unit')">Satuan <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('unit')"></i></div></th>
                  <th ng-click="vm.sortByAngular('qty')">Qty <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('qty')"></i></div></th>
                  <th ng-click="vm.sortByAngular('price')">Harga <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('price')"></i></div></th>
                  <th ng-click="vm.sortByAngular('total')">Total <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('total')"></i></div></th>
                  <th ng-if="vm.isDraft()">Action</th>
                </tr>
                <tr ng-repeat="y in x.list">
                  <td>1</td>
                  <td>{{ y.name }}</td>
                  <td>{{ y.unit }}</td>
                  <td>{{ y.qty }}</td>
                  <td>{{ y.price }}</td>
                  <td><b>{{ y.qty * y.price }}</b></td>
                  <td ng-if="vm.isDraft()">
                    <button type="button" class="btn btn-warning" ng-scroll-to="#jobs" ng-click="vm.editJob(x)"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-danger" ng-click="vm.deleteJob(x)"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="text-right text-bold">Total</td>
                  <td><b>{{ x.total_group }}</b></td>
                </tr>
              </table>
            </div>
            </div>
            </div>
            <!-- /Group end -->

            <!-- Button Tambah Pekerjaan -->
            <div class="row" ng-if="vm.isDraft()">
              <div class="col-sm-12">
                  <button type="button" class="btn btn-primary" ng-scroll-to="#jobs" ng-click="vm.newJob();">Tambah Pekerjaan</button>
              </div>
            </div>
          <!-- /.row -->
          </div>
        <!-- /.box-body -->
        </div>

        </div>
        <!-- col -->
    </div>
    <!-- row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->