  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-controller="ProjectPricePlanController as vm" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Detail HPP 2
        <span class="text-bold text-yellow">{{ vm.pricePlan.status.label }}</span>
      </h1>
      <ol class="breadcrumb">
        <li><a ui-sref="price-plan"><i class="fa fa-dashboard"></i> List HPP 2</a></li>
        <li class="active">Detail</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- Box: Detail Price Plan and Project -->
          <div class="box box-primary">
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <div class="box-header with-border">
              <h3 class="box-title"><b>Detail Project</b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" name="pricePlanForm" id="pricePlanForm" ng-submit="pricePlanForm.$valid && vm.submit()">
              <div class="box-body">
                <div class="row">
                  <input type="hidden" class="form-control" id="id" ng-model="vm.project.id">
                <div class="form-group col-sm-12">
                <div class="text-right">
                  <button type="button" class="btn btn-primary" ng-class="{'disabled': vm.ls.get('print').get()}" ng-click="vm.download(vm.pricePlan.id)"><i class="fa fa-print"></i> Print <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('print').get()"></i></button>
                </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">Nama Project</label></div>
                    <div class="col-sm-10"><span for="exampleInputEmail1"><a ui-sref="project-detail({id: vm.project.id})">{{ vm.project.name }}</a></span></div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">No. Project</label></div>
                    <div class="col-sm-10"><span for="exampleInputEmail1">{{ vm.project.ref_no }}</span></div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">Customer</label></div>
                    <div class="col-sm-10"><span for="exampleInputEmail1"><a ui-sref="customer-detail({id: vm.project.users.id})">{{ vm.project.users.name }}</a></span></div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">Kota</label></div>
                    <div class="col-sm-10"><span>{{ vm.project.city_name }}, {{ vm.project.province_name }}</span></div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">Alamat</label></div>
                    <div class="col-sm-10"><span for="exampleInputEmail1">{{ vm.project.address }}</span></div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">Durasi</label></div>
                    <div class="col-sm-10"><span for="exampleInputEmail1">{{ vm.project.start }} - {{ vm.project.finish }}</span></div>
                  </div>
                </div>
                <label class="page-header col-sm-12" style="font-size: 18px">Detail HPP</label>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"><label for="exampleInputEmail1">No. Ref</label></div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="noPenawaranHpp2" placeholder="Enter No Ref" ng-model="vm.pricePlan.ref_no">
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                    <div class="row">
                    <label class="col-sm-12">List Revisi</label>
                    <div ng-repeat="rev in vm.pricePlan.revisions">
                        <a ng-if="vm.pricePlan.id != rev.id" ui-sref="price-plan-detail({id: rev.id})">
                            <span class="col-sm-12">{{ rev.name }}</span>
                        </a>
                        <span ng-if="vm.pricePlan.id == rev.id" class="col-sm-12">{{ rev.name }}</span>
                    </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" ng-if="vm.pricePlan.id && main.ac.hasAccess('price_plan_change_status')">
                  <label for="exampleInputEmail1">Status </label>
                  <br>
                  <button type="button" class="btn btn-success" ng-confirm-click="Price Plan ini akan diubah menjadi Approve. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setApproved(vm.pricePlan.id)" ng-disabled="vm.pricePlan.status.name == 'approve'">Terima</button>
                  <button type="button" class="btn btn-default" ng-confirm-click="Price Plan ini akan diubah menjadi Draft. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setDraft(vm.pricePlan.id)" ng-disabled="vm.pricePlan.status.name == 'draft'" >Draft</button>
                  <button type="button" class="btn btn-warning" ng-confirm-click="Price Plan ini akan Diajukan. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setPending(vm.pricePlan.id)" ng-disabled="vm.pricePlan.status.name == 'pending'" >Diajukan</button>
                  <button type="button" class="btn btn-danger"  ng-confirm-click="Price Plan ini akan diubah menjadi Ditolak. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setRevision(vm.pricePlan.id)" ng-disabled="vm.pricePlan.status.name == 'revision'">Tolak</button>
                </div>
            </div>
              </div>
            </form>

            <div class="box-footer">
              <div class="text-right">
                  <span ng-if="vm.isPending() && !vm.isCreate() &&
                              main.ac.hasAccess('price_plan_change_status')" >
                    <button type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + vm.pricePlan.id).get()}" ng-click="vm.setApproved(vm.pricePlan.id)">Terima</button>
                    <button type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + vm.pricePlan.id).get()}" ng-click="vm.setRevision(vm.pricePlan.id)">Revisi</button>
                  </span>
                  <span ng-if="main.ac.hasAccess('price_plan_create')">
                    <button ng-if="vm.isRevision() && !vm.isCreate()" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.createRevision()" class="btn btn-primary">Buat Revisi Baru</button>
                    <button ng-if="vm.isDraft() || vm.isDecline()" type="button" class="btn btn-default" ng-click="vm.create()" >Batal</button>
                    <button ng-if="vm.isDraft() || vm.isCreate()" type="submit" form="pricePlanForm" class="btn btn-primary">Simpan Sebagai Draft</button>
                    <button ng-if="vm.isDraft() || vm.isCreate()" type="submit" form="pricePlanForm" class="btn btn-primary" ng-click="vm.sendToManager = 1">Simpan & Ajukan</button>
                  </span>
              </div>
            </div>
          </div>
          <!-- /Box -->

          <!-- Box: Detail Task -->
            <div class="box box-primary" ng-if="vm.groups">
                <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                <div class="box-body">
                    <!-- Group Start -->
                    <div class="row" ng-repeat="group in vm.groups | orderBy:'name':false">
                        <label class="page-header col-sm-12" style="h4">{{ group.name }}</label>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th ng-click="vm.sortByAngular('name')">
                                            Pekerjaan
                                            <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('name')"></i></div>
                                        </th>
                                        <th>Satuan</th>
                                        <th>Qty</th>
                                        <th ng-if="main.ac.hasAccess('price_plan_show_price')">Harga</th>
                                        <th ng-if="main.ac.hasAccess('price_plan_show_price')" ng-click="vm.sortByAngular('total')">
                                            Total
                                            <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('total')"></i></div>
                                        </th>
                                        <th ng-if="vm.isDraft()">Action</th>
                                    </tr>
                                    <tr ng-repeat="x in group.detail | orderBy:vm.propertyName:vm.reverse">
                                        <td>{{ $index + 1 }}</td>
                                        <td>
                                            {{ x.name }}
                                            <div class="pull-right" ng-if="x.schedule_start != null && x.schedule_finish != null">
                                                {{ x.schedule_start }} - {{ x.schedule_finish }}
                                            </div>
                                        </td>
                                        <td>{{ x.unit }}</td>
                                        <td><input type="text" name="qty" id="qty" ng-model="x.qty" ng-change="vm.countAll()" class="form-control"></td>
                                        <td ng-if="main.ac.hasAccess('price_plan_show_price')">{{ x.price | currency:"Rp. ":2 }}</td>
                                        <td ng-if="main.ac.hasAccess('price_plan_show_price')"><b>{{ x.price * x.qty | currency:"Rp. ":2 }}</b></td>
                                        <td ng-if="vm.isDraft()">
                                            <button type="button" class="btn btn-primary" ng-scroll-to="#jobs" ng-click="vm.editJob(x)"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn btn-warning" ng-click="vm.changeJobs(x.id)" ng-if="vm.isDraft()"><i class="fa fa-gear"></i></button>
                                            <button type="button" class="btn btn-danger" ng-click="vm.deleteJob(x)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    <tr ng-if="main.ac.hasAccess('price_plan_show_price')">
                                        <td colspan="5" class="text-right text-bold">Total</td>
                                        <td><b>{{ group.total | currency:"Rp. ":2 }}</b></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /Group end -->
                    <!-- Button Tambah Pekerjaan -->
                    <div class="row" ng-if="vm.isDraft()">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" ng-scroll-to="#jobs" ng-click="vm.newJob();">Tambah Pekerjaan</button>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
          <!-- /Box -->

        <!-- Box: Edit Job -->
        <div class="box box-primary" id="jobs" ng-if="vm.isDraft()">
          <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
          <div class="box-header with-border">
            <h3 class="box-title">Tambah/Edit Pekerjaan</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
            <div class="box-body">
          <div class="row">
          <form role="form" id="formJob" name="formJob" ng-submit="formJob.$valid && vm.addJob()">
            <div class="form-group col-sm-4">
                <label>Pekerjaan* <a ng-if="vm.tempJob.item_id" ui-sref="jobs-detail({id : vm.tempJob.item_id})" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a></label>
                <select class="form-control select2" id="job_id" name="job_id" ng-model="vm.tempJob.item_id" ng-select2 placeholder="Pilih Pekerjaan" ng-change="vm.loadJobDetail(vm.tempJob.item_id)">
                    <option ng-repeat="x in vm.jobs" value="{{ x.id }}">{{ x.name }}</option>
                </select>
            </div>

            <div class="form-group col-sm-4">
              <label for="exampleInputEmail1">Group*</label>
              <input type="text" class="form-control" id="group" placeholder="Enter Group" ng-model="vm.tempJob.group_by" required>
              <button type="button" class="btn btn-default btn-xs" ng-repeat="group in vm.groups | orderBy:'name':false" ng-click="vm.tempJob.group_by = group.name;">{{ group.name }}</button>
            </div>
            <div class="form-group col-sm-2">
              <label for="exampleInputEmail1">Qty*</label>
              <input type="text" class="form-control" id="qty" placeholder="Masukkan Qty" ng-model="vm.tempJob.qty" required>
            </div>
            <div class="form-group col-sm-2">
                <label>Satuan*</label>
                <select class="form-control select2" id="unit" name="unit" ng-model="vm.tempJob.unit" ng-select2 placeholder="Pilih Satuan">
                    <option ng-repeat="x in vm.units" value="{{ x.name }}">{{ x.label }}</option>
                </select>
            </div>
            <div class="col-sm-12">
            <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('job').get()"></i>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Nama</th>
                        <th>Jenis</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th ng-if="main.ac.hasAccess('price_plan_show_price')">Harga</th>
                        <th ng-if="main.ac.hasAccess('price_plan_show_price')">Total</th>
                    </tr>
                    <tr ng-repeat="x in vm.tempJob.detail">
                        <td>{{ x.name }}</td>
                        <td>{{ x.item_category_name }}</td>
                        <td><input type="text" name="qty_detail" id="qty_detail" ng-model="x.qty" ng-change="vm.countTotalDetail()" class="form-control"></td>
                        <td>{{ x.unit }}</td>
                        <td ng-if="main.ac.hasAccess('price_plan_show_price')"><input type="text" name="price_detail" id="price_detail" ng-model="x.price" ng-change="vm.countTotalDetail()" class="form-control"></td>
                        <td ng-if="main.ac.hasAccess('price_plan_show_price')">{{ x.qty * x.price | currency:"Rp. ":0}}</td>
                    </tr>
                </table>
            </div>
            </div>
            <div class="form-group col-sm-12" ng-if="main.ac.hasAccess('price_plan_show_price')">
              <div class="text-right text-bold h3">Total : {{ vm.tempJob.price | currency:"Rp. ":0 }}</div>
            </div>
            </form>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

        <div class="box-footer text-right">
            <button type="button" class="btn btn-default" ng-click="vm.newJob();">Batal</button>
            <button type="submit" form="formJob" class="btn btn-primary">Simpan</button>
        </div>
        </div>
        </div>
        <!-- col -->
    </div>
    <!-- row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->