  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Edit Detail Pekerjaan
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a ui-sref="project"><i class="fa fa-dashboard"></i> List Project</a></li>
        <li><a ui-sref="project-detail({id: vm.data.project_id})"><i class="fa fa-dashboard"></i> Detail Project</a></li>
        <li><a ui-sref="price-plan-detail({id: vm.data.id})">HPP 2</a></li>
        <li class="active">Change Job</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <!-- form start -->
            <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-2">
                      <label for="exampleInputEmail1">No. Penawaran</label>  
                    </div>
                    <div class="col-sm-10">
                        <span><a ui-sref="price-plan-detail({id: vm.data.id})">{{ vm.data.ref_no }}</a></span>
                    </div>
                  </div>
                </div>

            <label class="page-header col-sm-12" style="font-size: 18px">{{ vm.data.detail[vm.params].name }}</label>

            <!--
            <div class="col-sm-12"><div class="pull-right"><span>Penawaran: <label>{{ vm.quotationTotal | currency:'Rp ':0 }}</label>, HPP 2: <label>{{ vm.groupTotal | currency:'Rp ':0 }}</label>, Selisih: <label>{{ vm.quotationTotal - vm.groupTotal | currency:'Rp ':0 }}</label></span></div></div>
            -->

            <div class="col-sm-12">
              <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">No</th>
                  <th>Pekerjaan</th>
                  <th>Catatan</th>
                  <th>Satuan</th>
                  <th>Qty</th>
                  <th ng-if="main.ac.hasAccess('price_plan_show_price')">Harga</th>
                  <th ng-if="main.ac.hasAccess('price_plan_show_price')">Total</th>
                  <th>Action</th>
                </tr>
                <tr ng-repeat="x in vm.data.detail[vm.params].detail">
                  <td>{{ $index+1 }}</td>
                  <td>{{ x.name }} <span ng-if="x.is_additional == '1'">(Tambahan)</span></td>
                  <td>{{ x.notes }}</td>
                  <td>{{ x.unit }}</td>
                  <td>{{ x.qty }}</td>
                  <td ng-if="main.ac.hasAccess('price_plan_show_price')">{{ x.price | currency:"Rp. ":0 }}</td>
                  <td ng-if="main.ac.hasAccess('price_plan_show_price')"><b>{{ x.price * x.qty | currency:"Rp. ":0 }}</b></td>
                  <td>
                    <center>
                      <button type="button" class="btn btn-warning" ng-scroll-to="#jobs" ng-click="vm.editJob(x)"><i class="fa fa-pencil"></i></button> <button type="button" class="btn btn-danger" ng-click="vm.deleteJob(x)"><i class="fa fa-trash"></i></button>
                    </center>
                  </td>
                </tr>
                <tr ng-if="main.ac.hasAccess('price_plan_show_price')">
                  <td colspan="6" class="text-right text-bold">Total</td>
                  <td><b>{{ vm.data.detail[vm.params].total | currency:"Rp. ":0 }}</b></td>
                </tr>
              </table>
            </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <div class="pull-left">
            <button type="button" class="btn btn-primary" ng-scroll-to="#jobs" ng-click="vm.newJob()">Tambah Pekerjaan</button>
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="vm.create()">Batal</button>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </div>
        </form>
    </div>
    <div class="box box-primary" id="jobs">
      <form role="form" name="myFormJobs" ng-submit="vm.addJob()">
            <div class="box-header with-border">
              <h3 class="box-title">Tambah/Edit Pekerjaan</h3>
            </div>
            <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <input type="hidden" id="id" ng-model="vm.data.id">
            <div class="form-group col-sm-12">
              <label for="exampleInputEmail1">Jenis</label> 
              <div class="row">
                <div class="col-sm-1">
              <div class="radio">
                <label>
                  <input type="radio" name="bahan" id="bahan" ng-model="vm.tempJob.item_category" ng-click="vm.loadItems('item')" value="item">
                      Bahan
                </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="radio">
                <label>
                  <input type="radio" name="bahan" id="bahan" ng-model="vm.tempJob.item_category" ng-click="vm.loadItems('vendor')" value="vendor">
                      Vendor
                </label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="radio">
                <label>
                  <input type="radio" name="bahan" id="bahan" ng-model="vm.tempJob.item_category" ng-click="vm.loadItems('mandor')" value="mandor">
                      Mandor
                </label>
              </div>
            </div>
              </div>
            </div>

            <div class="form-group col-sm-4">
            <label>Nama*</label> <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('loading-item').get()"></i>
            <select class="form-control select2" ng-model="vm.tempJob.item_id" ng-change="vm.setItem(vm.tempJob.item_id)" ng-select2>
                <option value=""></option>
                <option ng-repeat="x in vm.items" value="{{ (x.id) }}">{{ x.name }}</option>
            </select>
            </div>

            <div class="form-group col-sm-4">
              <label for="exampleInputEmail1">Qty*</label>
              <input type="text" class="form-control" id="group" placeholder="Qty" ng-model="vm.tempJob.qty" required>
            </div>

            <div class="form-group col-sm-4" ng-if="main.ac.hasAccess('price_plan_show_price')">
              <label for="exampleInputEmail1">Harga*</label>
              <div class="input-group">
                <span class="input-group-addon">Rp.</span>
                <input type="text" class="form-control" placeholder="Harga Satuan" ng-model="vm.tempJob.price" required>
                <span class="input-group-addon">{{vm.tempJob.unit}}</span>
              </div>
            </div>

            <div class="form-group col-sm-12">
                <label>Catatan</label>
                <textarea class="form-control" rows="3" id="notes" placeholder="Tambahkan catatan pada pekerjaan ini" ng-model="vm.tempJob.notes"></textarea>
            </div>
            <div class="form-group col-sm-12">
              <label>Tambahan?</label>
              <input type="checkbox" id="is_additional" ng-model="vm.tempJob.is_additional" value="1" ng-checked="vm.tempJob.is_additional == '1'">
            </div>
            <div class="form-group col-sm-12" ng-if="main.ac.hasAccess('price_plan_show_price')">
              <span class="pull-right">Harga : <b>{{ vm.tempJob.price | currency:"Rp. ":0 }}<span ng-if="vm.tempJob.unit != null">/</span>{{ vm.tempJob.unit }}</b></span>
            </div>

            <div class="form-group col-sm-12">
              <span class="pull-right">Qty : <b>{{ vm.tempJob.qty }} {{ vm.tempJob.unit }}</b></span>
            </div>

            <div class="form-group col-sm-12" ng-if="main.ac.hasAccess('price_plan_show_price')">
              <span class="pull-right">Total : <b>{{ vm.tempJob.qty * vm.tempJob.price | currency:"Rp. ":0 }}</b></span>
            </div>

            <div class="col-sm-12">
            <div class="pull-right">
              <button type="button" class="btn btn-default" ng-click="vm.newJob()">Batal</button>
              <button type="submit" class="btn btn-primary">Tambah</button>
            </div>
            </div>
            
              </div>
              <!-- /.row -->
              </div>
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.box -->
        </div>
    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->