<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Detail Project
            <span class="text-bold text-yellow">{{ vm.data.status.label }}</span>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="project"><i class="fa fa-dashboard"></i> List Project </a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
        <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
                        <div class="box-body">
                            <div class="row">
                                <input type="hidden" class="form-control" id="id" ng-model="vm.data.id">
                                <div class="form-group col-sm-12">
                                        <label for="exampleInputEmail1">Nama Project*</label>
                                        <input type="text" class="form-control" id="projectName" placeholder="Nama Project" ng-model="vm.data.name" required>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="exampleInputEmail1">No. Project*</label>
                                    <input type="text" class="form-control" id="noPenawaran" placeholder="Enter No Project" ng-model="vm.data.ref_no" required>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Customer*</label>
                                    <select class="form-control select2" id="customer" name="customer" ng-model="vm.data.customer_id" ng-select2 placeholder="Pilih Customer" required>
                                        <option></option>
                                        <option ng-repeat="x in vm.customers" value="{{ (x.id) }}">{{ x.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Kota*</label>
                                    <select class="form-control select2" id="city" ng-model="vm.data.city_id" ng-select2 placeholder="Pilih Kota" required>
                                        <option></option>
                                        <option ng-repeat="x in vm.cities | orderBy:name:false" value="{{ (x.id) }}">{{ x.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Alamat*</label>
                                    <textarea class="form-control" rows="7" id="address" placeholder="Enter Address ..." ng-model="vm.data.address" required></textarea>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Tanggal (dari)*</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datepicker pull-right" id="tanggal-dari" ng-model="vm.data.start" ng-datetime-picker required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Tanggal (ke)*</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datepicker pull-right" id="tanggal-ke" ng-model="vm.data.finish" ng-datetime-picker required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12" ng-if="vm.data.id && main.ac.hasAccess('project_change_status')">
                                    <label>Status</label><br>
                                    <button type="button" class="btn btn-default" ng-confirm-click="Apakah anda yakin ingin mengubah status project ini?" confirmed-click="vm.changeStatus('open')" ng-disabled="vm.data.status.name == 'open'">Open</button>
                                    <button type="button" class="btn btn-success" ng-confirm-click="Apakah anda yakin ingin mengubah status project ini?" confirmed-click="vm.changeStatus('on-progress')" ng-disabled="vm.data.status.name == 'on-progress'">On Progress</button>
                                    <button type="button" class="btn btn-danger" ng-confirm-click="Apakah anda yakin ingin mengubah status project ini?" confirmed-click="vm.changeStatus('closed')" ng-disabled="vm.data.status.name == 'closed'">Closed</button>
                                </div>
<!--                                 <div class="col-sm-12">
                                    <div class="progress-group">
                                        <span class="progress-text">Progress</span>
                                        <span class="progress-number"><b>70</b>/100</span>
                                        <div class="progress active">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="col-sm-12" ng-if="main.ac.hasAccess('project_create')">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="box box-primary" ng-if="vm.data.id">
                    <div class="box-body">
                        <div class="row">
                            <label class="col-sm-12" style="font-size: 20px">Link Cepat</label>
                            <div class="col-md-2">
                                
                                <a ui-sref="project-stock({id: vm.data.id})" class="btn btn-primary">Lihat Stock</a>
                                <a ui-sref="stock-flow({project_id: vm.data.id})" class="btn btn-primary">Mutasi Stock</a>
                            
                            </div>
                            <div class="col-md-2">
                                <div class="col-sm-2">
                                <a ui-sref="sp({project_id: vm.data.id})" class="btn btn-primary">Lihat SP</a>
                                <a ui-sref="sp-create({project_id: vm.data.id})" class="btn btn-primary">Buat SP</a>
                                </div>
                            </div>
                        
                            <div class="col-md-2">
                                <div class="col-sm-2">
                                    <a ui-sref="po({project_id: vm.data.id})" class="btn btn-primary">Lihat PO</a>
                                </div>
                            </div>
                        
                            <div class="col-md-2">
                                    <div class="col-sm-2">
                                <a ui-sref="receipt({project_id: vm.data.id})" class="btn btn-primary">Lihat LPB</a>
                                <a ui-sref="receipt-create" class="btn btn-primary">Buat LPB</a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <a ui-sref="invoice({project_id: vm.data.id})" class="btn btn-primary">Lihat Invoice</a>
                                <a ui-sref="invoice-create({project_id: vm.data.id})" class="btn btn-primary">Buat Invoice</a>
                            </div>
                            
                            
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->

                <div class="box box-primary" ng-if="vm.data.id != null">
                    <div box-overlay is-loading="vm.ls.get('loading-worker').get()"></div>
                    <div class="box-body">
                        <div class="row">
                            <label class="col-sm-12" style="font-size: 20px">Pekerja 
                            <a ng-if="main.ac.hasAccess('project_set_employee')" ui-sref="project-role({id: vm.data.id})" class="btn btn-warning">
                                <i class="fa fa-pencil"></i>
                            </a>
                            </label>
                            <div class="col-sm-12">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th style="width: 50%">Jabatan</th>
                                        <th style="width: 50%">Nama</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.worker.other">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ x.role_name }}</td>
                                        <td>{{ x.name }}</td>
                                    </tr>
                                </table>
                            </div>


                            <label class="col-sm-12" style="font-size: 20px">Mandor & Vendor</label>
                            <div class="col-sm-12">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th style="width: 50%">Jabatan</th>
                                        <th style="width: 50%">Nama</th>
                                    </tr>
                                    <tr ng-repeat="y in vm.worker.vendormandor">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ y.role_name }}</td>
                                        <td>{{ y.name }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-primary" ng-if="vm.data.id != null">
                    <div box-overlay is-loading="vm.ls.get('loading-hpp').get()"></div>
                    <div class="box-body">
                        <div class="row">
                            <label class="col-sm-12" style="font-size: 20px">HPP 1/2/3</label>
                            <div class="col-sm-12">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>HPP</th>
                                        <th>Ref No</th>
                                        <th>Dibuat</th>
                                        <th>Revisi</th>
                                        <th>Total</th>
                                        <th style="width: 150px">Action</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>HPP 1</td>
                                        <td>{{ vm.data.quotation.ref_no }}</td>
                                        <td>{{ vm.data.quotation.created }}</td>
                                        <td>{{ vm.data.quotation.revision }}</td>
                                        <td>{{ vm.data.quotation.total | currency:'Rp ':0}}</td>
                                        <td>
                                        <div class="text-left">
                                            <div ng-if="vm.data.quotation.id != null">
                                                <a ng-if="main.ac.hasAccess('quotation_detail')" ui-sref="quotation-detail({id: vm.data.quotation.id})" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                                <button ng-if="main.ac.hasAccess('quotation_delete')" type="button" class="btn btn-danger" ng-click="vm.unsetQuotation()"><i class="fa fa-trash"></i></button>
                                                <a ng-if="main.ac.hasAccess('quotation_schedule_create')" ui-sref="quotation-schedule({id: vm.data.quotation.id, project_id: vm.data.id})" class="btn btn-primary"><i class="fa fa-calendar"></i></a>
                                            </div>
                                            <a ng-if="vm.data.quotation.id == null && main.ac.hasAccess('price_plan_create')" ui-sref="project-set-hpp-1({id: vm.data.id})" class="btn btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>HPP 2</td>
                                        <td>{{ vm.data.price_plan.ref_no }}</td>
                                        <td>{{ vm.data.price_plan.created }}</td>
                                        <td>{{ vm.data.price_plan.revision }}</td>
                                        <td>{{ vm.data.price_plan.total | currency:'Rp ':0 }}</td>
                                        <td>
                                        <div class="text-left" ng-if="vm.data.quotation.id">
                                            <div ng-if="vm.data.price_plan_id != null">
                                                <a ng-if="main.ac.hasAccess('price_plan_detail')" ui-sref="price-plan-detail({id: vm.data.price_plan_id})" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                                <button ng-if="main.ac.hasAccess('price_plan_delete')" type="button" class="btn btn-danger" ng-confirm-click="Apakah anda yakin ingin menghapus HPP2?" confirmed-click="vm.deletePricePlan(vm.data.price_plan_id)"><i class="fa fa-trash"></i></button>
                                            </div>
                                            <button type="button" ng-if="vm.data.price_plan_id == null && main.ac.hasAccess('price_plan_create')" class="btn btn-primary" ng-confirm-click="Apakah anda yakin ingin membuat HPP 2?" confirmed-click="vm.createPricePlan()" ng-class="{'disabled': vm.ls.get('create-price-plan').get()}"><i class="fa fa-plus"></i> <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('create-price-plan').get()"></i></button>
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>HPP 3</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ vm.data.summary.total | currency:'Rp ':0 }}</td>
                                        <td>
                                            <div class="text-left ng-hide" ng-if="vm.data.price_plan.id">
                                                <!-- <div ng-if="vm.data.price_plan_id != null"> -->
                                                    <a ui-sref="price-summary-detail({id: vm.data.id})" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                                <!-- </div> -->
                                                <!-- <a ng-if="vm.data.price_plan_id == null" ui-sref="project-price-plan({project_id: vm.data.id})" class="btn btn-primary">
                                                    <i class="fa fa-plus"></i>
                                                </a> -->
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-12 ng-hide">
                                <label class="label bg-green" ng-if="vm.data.laba >= 0">Keuntungan : {{ vm.data.laba | currency:'Rp ':0 }}</label>
                                <label class="label bg-red" ng-if="vm.data.laba < 0">Kerugian : {{ vm.data.laba | currency:'Rp ':0 }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-primary" ng-show="vm.data.id != null">
                    <div class="box-body">
                        <div class="row">
                            <label class="col-sm-12" style="font-size: 20px">Checklist
                                    <a ui-sref="checklist-detail({project_id: vm.data.id})" class="btn btn-warning">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                            </label>

                            <div class="col-sm-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>User</th>
                                            <th>Check</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr ng-repeat="x in vm.checklist">
                                                <td>{{ x.name }}({{x.role_name}})</td>
                                                <td>{{ x.checklist_done }}/{{vm.checklist.total}}</td>
                                                <td class="text-center">
                                                    <a ui-sref="checklist-tick-create({project_id: vm.data.id,user_id: x.user_id})" class="btn btn-primary">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </td>
                                        </tr>
                                    </table>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->