<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Setting
        </h1>
        <ol class="breadcrumb">
            <li class="active">Setting</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Informasi Perusahaan</h3>
                    </div>
                    <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="name">Nama*</label>
                                    <input type="text" required class="form-control" id="name" name="name" ng-model="vm.data.company_name" placeholder="Enter Name" value>
                                </div>
                                <div>
                                    <div class="form-group col-sm-12">
                                        <label>Tag Line</label>
                                        <input type="text" class="form-control" id="tagline" name="tagline" ng-model="vm.data.company_tagline" placeholder="Enter Tagline" value>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="address">Alamat*</label>
                                    <textarea class="form-control" rows="3" required id="address" name="address" ng-model="vm.data.company_address" placeholder="Enter Address"></textarea>
                                </div>
                                <div>
                                    <div class="form-group col-sm-12">
                                        <label>Telepon</label>
                                        <input type="text" class="form-control" id="phone" name="phone" ng-model="vm.data.company_phone" placeholder="Enter Phone" value>
                                        *Pisahan menggunakan , (koma)
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="vm.init()">Batal</button>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </div>
                </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->