<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Stock Flow
            </h1>
            <ol class="breadcrumb">
                <li class="active">Stock Flow</li>
            </ol>
        </section>
        
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Pencarian</h3>
                        </div>
                            <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <form role="form" class="form" ng-submit="vm.doSearch()">
                                    <div class="form-group col-sm-12">
                                        <label>Project</label>
                                        <select class="form-control" id="type" ng-model="vm.search.project_id" placeholder="Pilih Jenis" ng-select2>
                                            <option value="">Semua</option>
                                            <option ng-repeat="x in vm.projects | orderBy:name:false" value="{{ x.id }}">{{ x.name }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Bahan</label>
                                        <select class="form-control" id="type" ng-model="vm.search.item_id" placeholder="Pilih Jenis" ng-select2>
                                            <option value="">Semua</option>
                                            <option ng-repeat="x in vm.items | orderBy:name:false" value="{{ x.id }}">{{ x.name }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Jenis</label>
                                        <select class="form-control" id="type" ng-model="vm.search.category" placeholder="Pilih Jenis">
                                            <option value="">Semua</option>
                                            <option ng-repeat="x in vm.categories | orderBy:name:false" value="{{ x.name }}">{{ x.value }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="exampleInputEmail1">Tgl (Dari)</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control datepicker pull-right" id="tanggal" ng-datetime-picker ng-model="vm.search.date_from">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="exampleInputEmail1">Tgl (Ke)</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control datepicker pull-right" id="tanggal" ng-datetime-picker ng-model="vm.search.date_to">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                            <button type="submit" class="btn btn-primary">Cari</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="box box-primary">
                        <div class="box-body">
                            <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Tgl </th>
                                        <th>Jenis</th>
                                        <th>Keterangan</th>
                                        <th>Unit </th>
                                        <th>Debit</th>
                                        <th>Kredit</th>
                                        <th style="width: 200px">Action</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.list">
                                        <td>{{ x.created }}</td>
                                        <td>{{ x.category_name }}</td>
                                        <td>
                                            <a ng-if="x.item_category_name == 'item'" ui-sref="item-detail({id: x.item_id, role: 'supplier'})">{{ x.name }}</a>
                                            <a ng-if="x.item_category_name == 'mandor'" ui-sref="item-detail({id: x.item_id, role: 'mandor'})">{{ x.name }}</a>
                                            <a ng-if="x.item_category_name == 'vendor'" ui-sref="item-detail({id: x.item_id, role: 'vendor'})">{{ x.name }}</a>
                                        </td>
                                        <td>{{ x.unit }}</td>
                                        <td>{{ x.qty > 0 ? x.qty : ''  }}</td>
                                        <td>{{ x.qty < 0 ? vm.Math.abs(x.qty) : ''  }}</td>
                                        <td class="text-center">
                                            <a ng-if="x.category == 'receipt'" class="btn btn-warning" ui-sref="receipt-detail({id: x.id})">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a ng-if="x.category == 'transfer'" class="btn btn-warning" ui-sref="transfer-detail({id: x.id})">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a ng-if="x.category == 'expense'" class="btn btn-warning" ui-sref="expense-detail({id: x.id})">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
    
                        <div class="box-footer">
                            <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->