<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
        <!-- Content Header (Page header) -->
        <!-- <section class="content-header">
            <h1>
                List Transfer
                <a ui-sref="transfer-create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
            </h1>
            <ol class="breadcrumb">
                <li class="active">List Transfer</li>
            </ol>
        </section> -->
        
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Pencarian</h3>
                        </div>
                            <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <form role="form" class="form" ng-submit="vm.doSearch()">
                                    <div class="form-group col-sm-12">
                                        <label for="exampleInputEmail1">Kata Kunci</label>
                                        <input type="text" class="form-control" id="keyword" placeholder="Enter Kata Kunci" ng-model="vm.search.keyword">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="exampleInputEmail1">Tgl (Dari)</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control datepicker pull-right" id="tanggal" ng-datetime-picker ng-model="vm.data.date_from">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="exampleInputEmail1">Tgl (Ke)</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control datepicker pull-right" id="tanggal" ng-datetime-picker ng-model="vm.data.date_to">
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                        <button type="submit" class="btn btn-primary">Cari</button> 
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-body">
                            <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Tgl </th>
                                        <th>Keterangan </th>
                                        <th>Qty</th>
                                        <th>Unit </th>
                                        <th style="width: 200px">Action</th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center">
                                            <a href="#">
                                                <button type="button" class="btn btn-warning" title="Ubah Data">
                                                <i class="fa fa-pencil"></i>
                                                </button>
                                            </a>
                                            <button class="btn btn-danger" ng-confirm-click="Are you sure to delete this record ?"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
    
                        <div class="box-footer">
                            <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->