<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Detail Stock Opname
        <span class="text-bold text-yellow">{{ vm.data.status.label }}</span>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="stock-opname"><i class="fa fa-dashboard"></i> List Stock Opname</a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box">
            <!-- general form elements -->
            <!-- form start -->
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <form role="form" id="formStokOpname" name="formStokOpname" ng-submit="formStokOpname.$valid && vm.submit()">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-right">
                                <button type="button" ng-if="vm.data.id" class="btn btn-primary" ng-click="vm.download(vm.data.id)"><i class="fa fa-print"></i> Print</button>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Project</label> <a ng-if="vm.data.project_id != ''" ui-sref="project-detail({id : vm.data.project_id})" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                            <select required class="form-control select2" ng-model="vm.data.project_id" ng-change="vm.getStocks(vm.data.project_id)" ng-select2 placeholder="Pilih Project">
                                <option></option>
                                <option ng-repeat="x in vm.projects" value="{{ (x.id) }}">{{ x.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Tanggal</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker pull-right" ng-datetime-picker id="tanggal" ng-model="vm.data.created">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>No. Ref*</label>
                            <input type="text" class="form-control" id="ref_no" placeholder="Enter Ref. No" ng-model="vm.data.ref_no">
                        </div>
                        <div class="form-group col-sm-6" ng-if="vm.data.id && main.ac.hasAccess('opname_stock_change_status')">
                            <label for="exampleInputEmail1">Status </label>
                            <br>
                            <button type="button" class="btn btn-success" ng-confirm-click="Invoice akan disetujui. Apakah anda yakin?" confirmed-click="vm.setApproved(vm.data.id)" ng-disabled="vm.data.status.name == 'approve'">Terima</button>
                            <button type="button" class="btn btn-default" ng-confirm-click="Invoice akan diubah menjadi draft. Apakah anda yakin?" confirmed-click="vm.setStatus(vm.data.id, 'draft')" ng-disabled="vm.data.status.name == 'draft'" >Draft</button>
                            <button type="button" class="btn btn-warning" ng-confirm-click="Invoice akan diajukan. Apakah anda yakin?" confirmed-click="vm.setStatus(vm.data.id, 'pending')" ng-disabled="vm.data.status.name == 'pending'" >Diajukan</button>
                            <button type="button" class="btn btn-danger"  ng-confirm-click="Invoice akan ditolak. Apakah anda yakin?" confirmed-click="vm.setDeclined(vm.data.id)" ng-disabled="vm.data.status.name == 'decline'">Tolak</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Barang</th>
                                        <th style="width:15%">Qty Program</th>
                                        <th style="width:15%">Qty Gudang</th>
                                        <th style="width:15%">Unit</th>
                                        <th style="width:15%">Selisih</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.data.detail track by $index">
                                        <td>{{ $index+1 }}</td>
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.qty_before }}</td>
                                        <td>
                                            <input type="number" step="0.05" ng-model="x.qty_after" class="form-control" name="qty_gudang" id="qty_gudang" ng-change="x.qty = x.qty_before - x.qty_after">
                                        </td>
                                        <td>{{ x.unit }}</td>
                                        <td><input type="number" step="0.05" ng-model="x.qty" name="selisih" class="form-control" ng-change="x.qty_after = x.qty_before + x.qty"></td>
                                    </tr>
                                    <!-- <tr>
                                        <td colspan="2" class="text-right text-bold">Total</td>
                                        <td><b>{{ vm.total | currency:"Rp. ":0 }}</b></td>
                                    </tr> -->
                                </table>
                            </div>
                        </div>
                        <div class="col-md-2" ng-repeat="x in vm.data.images">
                            <a href="{{ x.image }}" target="_blank"><img ng-src="{{ x.thumb_image }}" class="img-responsive"></a>
                            <div style="margin-top: 2px"><button type="button" class="btn btn-danger pull-right" ng-click="vm.deleteImage(x)"><i class="fa fa-trash"></i></button></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-4">
                                <label for="photo">Upload Foto*</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" ng-model="vm.images" ng-file multiple>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button ng-if="vm.isDraft() || vm.isDecline()" type="button" class="btn btn-default" ng-click="vm.create()" >Batal</button>
                                <button ng-if="vm.isDraft() || vm.isCreate() || vm.isDecline()" type="submit" form="formStokOpname" class="btn btn-primary">Simpan Sebagai Draft</button>
                                <button ng-if="vm.isDraft() || vm.isCreate() || vm.isDecline()" type="submit" form="formStokOpname" class="btn btn-primary" ng-click="vm.sendToManager = 1">Simpan & Ajukan</button>

                                <div ng-if="vm.isPending() && !vm.isCreate() && main.ac.hasAccess('opname_stock_change_status')">
                                    <button type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setApproved(vm.data.id)">Terima</button>
                                    <button type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setDeclined(vm.data.id)">Tolak</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </form>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->